<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="/style.css">
  <title>Post Results</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="columns twelve">
        <h3>Form 3 POST Results</h3>
        <hr>
        <p>Something brief about myself:</p>
        <p>Favorite fruit: <b>{{data.fruit }}</b> </p>
        <p>Gender: <b>{{data.gender }}</b> </p>
    </div>
  </div>
</body>
</html>